<div class="container">
    <nav class="navbar">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navMenuTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuTransparentExample" class="navbar-menu">
            <div class="navCenter">
                <div class="navbar-start">
                    {{#compare dam true operator="=="}}
                    <a class="navbar-item is-hoverable bb" href="/dam">
                        <p>Présentation</p>
                    </a>
                    {{else}}
                    <a class="navbar-item is-hoverable " href="/dam">
                        <p>Présentation</p>
                    </a>
                    {{/compare}}
                    {{#compare comp true operator="=="}}
                    <a class="navbar-item is-hoverable bb" href="/competence">
                        <p>Compétences</p>
                    </a>
                    {{else}}
                    <a class="navbar-item is-hoverable" href="/competence">
                        <p>Compétences</p>
                    </a>
                    {{/compare}}
                    {{#compare travail true operator="=="}}
                    <a class="navbar-item is-hoverable bb" href="/travail">
                        <p>Projets</p>
                    </a>
                    {{else}}
                    <a class="navbar-item is-hoverable" href="/travail">
                        <p>Projets</p>
                    </a>
                    {{/compare}}
                    {{#compare detail true operator="=="}}
                    <a class="navbar-item is-hoverable bb" href="/detail">
                        <p>A propos</p>
                    </a>
                    {{else}}
                    <a class="navbar-item is-hoverable" href="/detail">
                        <p>A propos</p>
                    </a>
                    {{/compare}}
                </div>
            </div>
        </div>
    </nav>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function($el) {
                $el.addEventListener('click', function() {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

</script>
