{{>nav}}

<div class="columns">
    <div class="column is-11">
        <div id="chart" class="column chart">
        </div>
    </div>
    <div class="column is-1">
        <div class="section">
            <div class="columns has-text-centered rightMenu1">
                <a class="navbar-item is-hidden-desktop-only" href="https://github.com/minibras" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fa fa-lg fa-github fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://gitlab.com/minibras" target="_blank">
                    <span class="icon" style="color: #FF8C00;">
                        <i class="fa fa-lg fa-gitlab fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://www.linkedin.com/in/damien-eckly-475a56122/" target="_blank">
                    <span class="icon" style="color: #55acee;">
                        <i class="fa fa-lg fa-linkedin fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">Mon CV</div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" target="_blank">Visualiser</a>
            </div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" download>Télécharger</a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <button class="button is-link" id="contact">Contact</button>
                <div id="popup" class="popup">
                    <article class="message is-link">
                        <div class="message-header">
                            <p>Link</p>
                            <button id="delete" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <p>Par Mail</p>
                            <a href="mailto:damien.eckly@gmail.com?Subject=Hello" target="_top">damien.eckly@gmail.com</a>
                            <p>Par Téléphone</p>
                            <p>0614426160</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/popup.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart']
    });

</script>
<script language="JavaScript">
    function drawChart() {
        // Define the chart to be drawn.
        var data = google.visualization.arrayToDataTable([
            ['techno', 'niveau'],
            ['HTML5', 4.5],
            ['CSS3', 4.5],
            ['Javascript', 4],
            ['Bulma/Bootstrap', 3.5],
            ['Nodejs', 3.5],
            ['Postgre/Mysql', 3.5],
            ['MongoDB', 3],
            ['Github/Gitlab', 3.5],
            ['Apache Cordova', 2.5],
            ['PHP', 1],
            ['Photoshop', 3.5]
        ]);

        var options = {
            title: 'Compétences'
        };

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart);

    windows.onresize.drawChart
</script>
