{{>nav}}

<div class="columns">
    <div class="column is-11">
        <div class="has-text-centered">
            <h1 class="title">{{title}}</h1>
            <p>Bonjour,<br>Je me présente, je m'appelle <strong>damien eckly</strong>, j'ai 28 ans et je suis un jeune <strong>développeur web</strong>.
            </p>
            <p>Formé au greta de Dax (Bac+2 en développement web) j'ai décidé de créer mon propre site web afin de montrer mes <strong><a href="/competence">compétences</a></strong> et m'améliorer.</p><br/>
            <p>J'aime les jeux video et la musique (<a href="https://www.youtube.com/playlist?list=FLb6001QDHNlTqeSbsvZ6MlQ" target="_blank"><strong>écouter</strong></a> et jouer).<br/> Je joue souvent en ligne avec des amis et j'ai fait partie d'un groupe de musique pendant plusieurs années en tant que bassiste.<br/>
            Je suis un grand fan de jeu de cartes ainsi que de jeux de sociétés et je participe à quelques tournoi locaux.<br/>
            <p>Ces passe temps m'ont permis d'acquérir de la dextérité, un bon esprit d'équipe, une bonne logique et une bonne confiance en mes capacités.</p><br/>
            <p>Dans mon travail, je suis quelqu'un de sérieux, calme et polyvalent. Je gère mon temps de manière à remplir mes taches rapidement et efficacement. Je suis une personne introvertie mais je prends le temps de connaitre les personnes avec qui je travail pour bien m'intégrer à l'équipe.</p>
        </div>
    </div>
    <div class="column is-1">
        <div class="section">
            <div class="columns has-text-centered rightMenu1">
                <a class="navbar-item is-hidden-desktop-only" href="https://github.com/minibras" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fa fa-lg fa-github fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://gitlab.com/minibras" target="_blank">
                    <span class="icon" style="color: #FF8C00;">
                        <i class="fa fa-lg fa-gitlab fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://www.linkedin.com/in/damien-eckly-475a56122/" target="_blank">
                    <span class="icon" style="color: #55acee;">
                        <i class="fa fa-lg fa-linkedin fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">Mon CV</div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" target="_blank">Visualiser</a>
            </div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" download>Télécharger</a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <button class="button is-link" id="contact">Contact</button>
                <div id="popup" class="popup">
                    <article class="message is-link">
                        <div class="message-header">
                            <p>Link</p>
                            <button id="delete" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <p>Par Mail</p>
                            <a href="mailto:damien.eckly@gmail.com?Subject=Hello" target="_top">damien.eckly@gmail.com</a>
                            <p>Par Téléphone</p>
                            <p>0614426160</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/popup.js"></script>
