{{>nav}}
<div class="columns">
    <div class="column is-11">
        <div class="columns">
            <div class="column">
                <div class="notification is-info">
                    <h1 class="title">Front-end : </h1>
                    <p>Pour le front, j'ai utilisé <a href="https://developer.mozilla.org/fr/docs/Web/HTML" target="_blank"><strong>HTML5</strong></a>, <a href="https://developer.mozilla.org/fr/docs/Web/CSS" target="_blank"><strong>CSS3</strong></a> et <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank"><strong>Javascript</strong></a>.</p>
                    <p>Ensuite pour le coté responsive du site (adaptation du site par rapport à la taille de l'écran) j'ai utilisé <a href="http://bulma.io" target="_blank"><strong>Bulma</strong></a>.</p>
                    <p>Pour finir j'ai utilisé un moteur de template <a href="http://handlebarsjs.com/" target="_blank"><strong>HandlebarJS</strong></a> qui permet de créer ses propres modèles et ainsi facilité l'écriture du code.</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-info">
                    <h1 class="title">Back-end : </h1>
                    <p>Pour le back j'ai utilisé un serveur <a href="https://nodejs.org/fr/" target="_blank"><strong>NodeJs</strong></a> ainsi que le module <a href="http://expressjs.com/fr/" target="_blank"><strong>ExpressJs</strong></a> qui permet de mettre en place une architecture simple pour le serveur nodeJs.</p>
                    <p>J'ai ensuite mis en place un routeur dynamique pour gérer les controleurs à l'aide d'un fichier <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/JSON"><strong>JSON</strong></a>.</p>
                    <p>Pour finir j'ai configuré une mise en page avec <a href="http://handlebarsjs.com/" target="_blank"><strong>HandlebarJS</strong></a>. </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="notification is-success has-text-centered">
                    <h1 class="title">Hébergement : </h1>
                    <p>j'ai choisi d'héberger mon site chez moi sur une <a href="http://www.raspberrypi-france.fr/" target="_blank"><strong>Raspberry pi</strong></a> sur laquelle j'ai utilisé l'os <a href="https://raspbian-france.fr/telechargements/" target="_blank"><strong>Raspbian</strong></a> (Debian adapté pour la raspberry). </p>
                    <p>Vous trouverez l'intégralité du code sur mon <a href="" target="_blank"><strong>Gitlab</strong></a></p>
                    <br/>
                    <div class="has-text-centered animated slideInLeft">
                        <a href="https://gitlab.com/minibras/my_awesome_site" target="_blank">
                            <span class="icon" style="color: #FF8C00;">
                                <i class="fa fa-lg fa-gitlab fa-5x"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-1">
        <div class="section">
            <div class="columns has-text-centered rightMenu1">
                <a class="navbar-item is-hidden-desktop-only" href="https://github.com/minibras" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fa fa-lg fa-github fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://gitlab.com/minibras" target="_blank">
                    <span class="icon" style="color: #FF8C00;">
                        <i class="fa fa-lg fa-gitlab fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://www.linkedin.com/in/damien-eckly-475a56122/" target="_blank">
                    <span class="icon" style="color: #55acee;">
                        <i class="fa fa-lg fa-linkedin fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">Mon CV</div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" target="_blank">Visualiser</a>
            </div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" download>Télécharger</a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <button class="button is-link" id="contact">Contact</button>
                <div id="popup" class="popup">
                    <article class="message is-link">
                        <div class="message-header">
                            <p>Link</p>
                            <button id="delete" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <p>Par Mail</p>
                            <a href="mailto:damien.eckly@gmail.com?Subject=Hello" target="_top">damien.eckly@gmail.com</a>
                            <p>Par Téléphone</p>
                            <p>0614426160</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/popup.js"></script>
