<div id="index" class="has-text-centered auto">
    <!--        <a href="/detail">-->
    <img id="img" src="images/icone_DE.jpg">
    <!--        </a>-->
</div>


<script>
    var img = document.getElementById('img');

    img.onmouseover = function() {
        img.className = "pointer";
        setTimeout(function(){
            if (img.className == "pointer animated fadeOutRight"){
                
            } else {
                img.className = "pointer animated swing";
            }
            
        },500);
    };

    img.onclick = function() {
        img.className = "pointer animated fadeOutRight";
        setTimeout(function() {                
            window.location.href = "/dam";
        }, 1000);
    }

</script>
