{{>nav}}

<div class="columns">
    <div class="column is-11">
        <h1 class="title has-text-centered">Site web comme au salon :</h1>
        <div class="columns">
            <div class="column">
                <div class="has-text-centered">Accueil
                    <figure class="image is-3by2">
                        <img src="images/CAS_accueil.jpg">
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">Présentation
                    <figure class="image is-3by2">
                        <img src="images/CAS_Présentation.jpg">
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">Galerie
                    <figure class="image is-3by2">
                        <img src="images/CAS_galerie.jpg">
                    </figure>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="has-text-centered">Conseils beauté
                    <figure class="image is-3by2">
                        <img src="images/CAS_conseils_beauté.jpg">
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">Contact
                    <figure class="image is-3by2">
                        <img src="images/CAS_contact.jpg">
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">Tarifs
                    <figure class="image is-3by2">
                        <img src="images/CAS_tarifs.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-1">
        <div class="section">
            <div class="columns has-text-centered rightMenu1">
                <a class="navbar-item is-hidden-desktop-only" href="https://github.com/minibras" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fa fa-lg fa-github fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://gitlab.com/minibras" target="_blank">
                    <span class="icon" style="color: #FF8C00;">
                        <i class="fa fa-lg fa-gitlab fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <a class="navbar-item is-hidden-desktop-only" href="https://www.linkedin.com/in/damien-eckly-475a56122/" target="_blank">
                    <span class="icon" style="color: #55acee;">
                        <i class="fa fa-lg fa-linkedin fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="columns has-text-centered rightMenu">Mon CV</div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" target="_blank">Visualiser</a>
            </div>
            <div class="columns has-text-centered">
                <a href="/images/CV_dam.pdf" download>Télécharger</a>
            </div>
            <div class="columns has-text-centered rightMenu">
                <button class="button is-link" id="contact">Contact</button>
                <div id="popup" class="popup">
                    <article class="message is-link">
                        <div class="message-header">
                            <p>Link</p>
                            <button id="delete" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <p>Par Mail</p>
                            <a href="mailto:damien.eckly@gmail.com?Subject=Hello" target="_top">damien.eckly@gmail.com</a>
                            <p>Par Téléphone</p>
                            <p>0614426160</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/popup.js"></script>
