body {}

a {
    color: #00B7FF;
}

.titre {
    color: #007f00;
}

.presentation {
    color: darkcyan;
}

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.bb {
    border-bottom: 2px solid orange;
}

.pointer {
    cursor: pointer;
}

.auto {
    cursor: auto;
}

@media screen and (min-width: 769px) {
    .navCenter {
        margin-left: 30%;
    }
    .rightMenu {
        margin-top: 50%;
    }
    .rightMenu1 {
        margin-top: 100%
    }
    .chart{
        height: 500px;
    }
}

@media screen and (max-width: 769px) {
    .chart{
        height: 200px;
    }
}
